* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    width: 100%
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%; 
    width: 100%;
}

.left {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(10, 50px);
}

.sidebar-image, .sidebar-text {
    justify-self: center;
    align-self: center;
}

.sidebar-image {
    height: 25px;
}

.sidebar-text {
    justify-self: start;
}

.right {
    display: grid;
    grid-template-rows: 1fr 3fr;

    background-color: purple;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100px 100px;
}

.header-top-left {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 10px;
}

.search-logo {
    height: 25px;
}

.search-bar {
    width: 90%;
    border-radius: 10px;
    background-color: darkgray;
    border: none;
}

.header-top-right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
    gap: 50px;
}

.bell {
    height: 25px;
}

.user-one {
    height: 25px;
}

.header-bottom-left {
    display: flex;
    align-items: start;
    padding-left: 25px;
    gap: 10px;
}

.user-two {
    height: 50px; 
}

.greeting-styling {
    font-size: 2rem;
}

.header-bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 25px; 
}

.btn {
    font-size: 1rem;
    border-radius: 12px;
    color: white;
    background-color: black; 
    border: none;
    height: 30px;
    width: 100px;
}